<div class="container">
  <div class="i-am-centered">
  <h1>{{ book.title }}</h1>
  <div class="row">
    <div class="col-lg-12">
      <dl class="list">
        <dt>ISBN</dt>
        <dd>{{ book.isbn }}</dd>
        <dt>Author</dt>
        <dd>{{ book.author }}</dd>
        <dt>Publish Year</dt>
        <dd>{{ book.published_year }}</dd>
        <dt>Publisher</dt>
        <dd>{{ book.publisher }}</dd>
        <dt>Update Date</dt>
        <dd>{{ book.updated_date | date:'short' }}</dd>
      </dl>
    </div>
  </div>
  <div class="row">
    <div class="col-lg-12">
      <a [routerLink]="['/book-edit', book._id]" class="btn btn-success">EDIT</a>
      <button class="btn btn-danger" type="button" (click)="deleteBook(book._id)">DELETE</button>
    </div>
  </div>
  </div>
</div>

